
body{
	padding:100px;
}
.card
{	perspective:500px;
	width:100px;
	height:100px;
	transition:all 2s ease-in-out;
	transform-style:preserve-3d;	
	/*preserve 3d agar sirf hover pe apply karenge tab only hover pe change visible hoga 
	not after removing it*/
}
.face
{
	text-align:center;
	font-size:32px;
	width:100px;
	height:100px;
	backface-visibility:hidden;
	position:absolute;
}
#one
{background-color:cyan;

}
#two
{background-color:yellow;
transform:rotateY(180deg);
}
.card:hover
{transform:rotateY(180deg);

}
